$white: #fff;
$black: #000;
$turquoise: #1abc9c;
$green: #2ecc71;
$blue: #3498db;
$purple: #9b59b6;
$dark-grey: #34495e;
$yellow: #f1c40f;
$orange: #e67e22;
$red: #e74c3c;
$light-grey: #ecf0f1;
$grey: #95a5a6;

$spacing: 10px;