.mwi-select {
    background: #fff;
    border: 1px solid $border-color;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    float: left;
    
    select {
        background: transparent;
        width: 100px;
        padding: 0 26px 0 10px;
        line-height: 26px;
        border: 0;
        border-radius: 0;
        height: 26px;
        -webkit-appearance: none;
        font-size: 14px;
        position: relative;
        z-index: 10;
        cursor: pointer;
        display: block;
        
        &:focus {
            outline: none;
        }
    }
}

    .mwi-select__caret {
        color: #ccc;
        position: absolute;
        top: 50%;
        margin-top: -5px;
        right: 5px;
        z-index: 5;
        font-size: 15px;
        height: 12px;
        line-height: 1;
    }